h1 {
    font-size: 30px !important;
}

.btn-primary:hover {
    background-color: brown;
}

canvas {
    animation-name: changeBg;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes changeBg {
    from{box-shadow: 2px 2px 30px rgb(210, 233, 8)}
    to{box-shadow: 2px 2px 30px rgb(11, 241, 99)};
}

canvas {
    border: 3px dashed black;
}